<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>SongMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  {{!-- <link rel="stylesheet" type="text/css" href="/assets/style.css"/> --}}
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css"/>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary"><a href="/login"></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="text-light nav-link active" href="/logout">Log out</a></li>
      <li class="nav-item"><a class="text-light nav-link active" href="/changePassword">Change Password</a></li>
      <li class="nav-item"><a class="text-light nav-link active" href="/share">Share</a></li>
      <li class="nav-item"><a class="text-light nav-link active" href="/addNew">Add New Song</a></li>
      <li class="nav-item"><a class="text-light nav-link active" href="/">View Songs</a></li>
    </ul>
    <form onsubmit="event.preventDefault();" id="searchTunesForm" action="/searchTunes" class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search iTunes" aria-label="Search" id="urlField" />
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <section id="songs">
    <div class="row top-buffer m-3">
      {{#if songs}}
        {{#each songs}}
          <div class="col-lg-2">
            <div class="card"><img src="{{this.art}}" alt="card image cap" class="card-img-top"/>
              <audio class="media" controls>
                <source src="{{this.preview}}" type="audio/x-m4a">
                Your browser does not support the audio element.
              </audio>
              <div class="card-body">
                <h5 class="songName">Name: {{this.name}}</h5>
                <h5 class="songArtist">Artist: {{this.artist}}</h5>
                <h5 class="songAlbum">Album: {{this.album}}</h5>
              </div>
              
              <form class="close" action="/deleteSong" name="{{this.name}}">
                <button type="submit" class="close" aria-label="Close" name="name" value="{{this.name}}">
                  <span aria-hidden="true">&times;</span>
                </button>
              </form>
            </div>
          </div>
        {{/each}}
      {{else}}
        <div class="row">
          <div class="col-lg-12">
            <h3 class="emptySong">No Songs yet</h3>
          </div>
        </div>
      {{/if}}
    </div>
  </section>
  {{!-- <div id="songMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="song" src="assets/img/domo.png" alt="song"/>
  </div> --}}
  <script src="/assets/bundle.js"></script>
</body>
</html>